<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>VIC</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/style.css">
</head>
<body class="d-flex flex-column align-items-center justify-content-center vh-100">
    <div class="overlay text-center">
        <h1>Welcome to the Virtual Invitation Creator</h1>
        <p class="mt-2 w-75">Make your life easier with VIC. Create stylish and cozy invitations quickly and efficiently, perfect for any event!</p>
        <div class="mt-3">
            <a class="btn btn-custom-primary mr-2" href="/login">Login</a>
            <a class="btn btn-custom-secondary" href="/register">Register</a>
        </div>
    </div>
</body>
</html>
